*{

box-sizing: border-box;
}

body {

  padding: 1em;
  font-size: 100%;
  text-align: center;
}

h1 {

  font-size: 1.5em;
}

h2 {

  font-size: 1.3em;
}

h3 {

  font-size: 1.17em;
}

p {

  font-size: 0.75em;
}

body, h1, h2, h3, p, a, li a {

  font-family: 'Oswald', sans-serif;
} 








