
@media only screen and (min-width: 640px){

  .main-nav ul {

    display: block;
  }
  .icon-menu {
    display: none;
  }
  html {
  background: #c4d4d1;
  }
  body {
    width: 80%;
  }

}

@media only screen and (max-width: 640px) {
   .main-nav:hover > ul, .main-nav:active > ul {
  display: block;
  }
  
  .main-nav:hover > ul li {
  display: block;
  }
}


.vertical-img {
  width: 25%;
  max-width: 300px;
}
article {
  margin: 1.5em 0;
}
article header h1 {
margin: .25em;
}
article header .byline {
 margin: 1em
}
article header .byline address {
  margin:.5em;
}
article header .byline time {
  margin:.5em;
}
img {
  padding: .5em;
}